#wrapper {
  width: 35%;
  margin: 50px auto;
  padding: 50px;
  background: #D7FBFF;
}

form {
  margin: 30px auto;
}

.textInput {
  border: none;
  height: 28px;
  margin: 2px;
  font-size: 16px;
  padding: 1px;
  width: 100%;
}

form div {
  margin: 3px auto;
}



.btn {
  padding: 7px;
  width: 100%;
}

.val_error {
  color: #ef1f1f;
}